html {
  background-color: rgb(20, 20, 20);
}

body {
  margin: 0;
  font-family: 'Maven Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  height: 100vh;
  width: 100vw;
  background-color: rgb(20, 20, 20);
}

body:after {
  content: "beta";
  position: fixed;
  width: 80px;
  height: 25px;
  background: #EE8E4A;
  top: 7px;
  left: -20px;
  text-align: center;
  font-size: 13px;
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  line-height: 27px;
  transform: rotate(-45deg);
}

#container_customize {
  position: absolute;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background-color: rgb(20, 20, 20);
}

#dot {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
}

.Reddot {
  background-color: red;
}

.Greendot {
  background-color: green;
}

#background_customize {
  position: absolute;
}


#Wall, #Floor, #Hoist, #Background, #Car, #BigFurniture, #Neon, #Wheels, #Spoiler, #LeftPoster, #RightQuote, #SmallFurniture_1, #SmallFurniture_2, #SmallFurniture_3 {
  position: absolute;
  width: 1920px;
  height: 1080px;
  left: 15vw;
  border: 10px solid #D09315;
  /* width of actual image */
  /* height of actual image */
}

.bg_doorrollerblue {
  background-image: url(./img/Background/BG_doorrollerblue.png)
}

.bg_doorrollergray {
  background-image: url(./img/Background/BG_doorrollergray.png)
}

.bg_doorrolleropenview {
  background-image: url(./img/Background/BG_doorrolleropenview.png)
}

.bg_doorrollerred {
  background-image: url(./img/Background/BG_doorrollerred.png)
}

.bg_doorrollerwhite {
  background-image: url(./img/Background/BG_doorrollerwhite.png)
}

.bg_doorrolleryellow {
  background-image: url(./img/Background/BG_doorrolleryellow.png)
}

.bigfur_mix1 {
  background-image: url(./img/BigFurniture/BigFur_mix1.png)
}

.bigfur_mix2 {
  background-image: url(./img/BigFurniture/BigFur_mix2.png)
}

.bigfur_sofablack {
  background-image: url(./img/BigFurniture/BigFur_sofablack.png)
}

.bigfur_sofablue {
  background-image: url(./img/BigFurniture/BigFur_sofablue.png)
}

.bigfur_sofared {
  background-image: url(./img/BigFurniture/BigFur_sofared.png)
}

.bigfur_sofawhite {
  background-image: url(./img/BigFurniture/BigFur_sofawhite.png)
}

.bigfur_tire {
  background-image: url(./img/BigFurniture/BigFur_tire.png)
}

.bigfur_tire1_bbs_lm {
  background-image: url(./img/BigFurniture/BigFur_Tire1_BBS_LM.png)
}

.bigfur_tire1_bbs_rs {
  background-image: url(./img/BigFurniture/BigFur_Tire1_BBS_RS.png)
}

.bigfur_tire1_ce28 {
  background-image: url(./img/BigFurniture/BigFur_Tire1_CE28.png)
}

.bigfur_tire1_desmond_evo {
  background-image: url(./img/BigFurniture/BigFur_Tire1_Desmond_Evo.png)
}

.bigfur_tire1_enkei_tarmacevo {
  background-image: url(./img/BigFurniture/BigFur_Tire1_Enkei_TarmacEvo.png)
}

.bigfur_tire1_oz_racingrally {
  background-image: url(./img/BigFurniture/BigFur_Tire1_OZ_RacingRally.png)
}

.bigfur_tire1_re30 {
  background-image: url(./img/BigFurniture/BigFur_Tire1_RE30.png)
}

.bigfur_tire1_spoon {
  background-image: url(./img/BigFurniture/BigFur_Tire1_Spoon.png)
}

.bigfur_tire1_te37 {
  background-image: url(./img/BigFurniture/BigFur_Tire1_TE37.png)
}

.bigfur_tire1_watanabe {
  background-image: url(./img/BigFurniture/BigFur_Tire1_Watanabe.png)
}

.bigfur_tire2 {
  background-image: url(./img/BigFurniture/BigFur_tire2.png)
}

.bigfur_toolcabinet {
  background-image: url(./img/BigFurniture/BigFur_toolCabinet.png)
}

.bigfur_wheels_show1 {
  background-image: url(./img/BigFurniture/BigFur_Wheels_Show1.png)
}

.car_set1_180sx_red {
  background-image: url(./img/Car/Car_Set1_180sx_Red.png)
}

.car_set1_180sx_silver {
  background-image: url(./img/Car/Car_Set1_180sx_Silver.png)
}

.car_set1_180sx_white {
  background-image: url(./img/Car/Car_Set1_180sx_White.png)
}

.car_set1_180sx_yellow {
  background-image: url(./img/Car/Car_Set1_180sx_Yellow.png)
}

.car_set1_1967mustang_black {
  background-image: url(./img/Car/Car_Set1_1967Mustang_Black.png)
}

.car_set1_1967mustang_gt500 {
  background-image: url(./img/Car/Car_Set1_1967Mustang_GT500.png)
}

.car_set1_1967mustang_red {
  background-image: url(./img/Car/Car_Set1_1967Mustang_Red.png)
}

.car_set1_1967mustang_white {
  background-image: url(./img/Car/Car_Set1_1967Mustang_White.png)
}

.car_set1_2000gt_black {
  background-image: url(./img/Car/Car_Set1_2000GT_Black.png)
}

.car_set1_2000gt_red {
  background-image: url(./img/Car/Car_Set1_2000GT_red.png)
}

.car_set1_2000gt_white {
  background-image: url(./img/Car/Car_Set1_2000GT_White.png)
}

.car_set1_ae86_blackwhite {
  background-image: url(./img/Car/Car_Set1_AE86_BlackWhite.png)
}

.car_set1_ae86_red {
  background-image: url(./img/Car/Car_Set1_AE86_Red.png)
}

.car_set1_ae86_silver {
  background-image: url(./img/Car/Car_Set1_AE86_Silver.png)
}

.car_set1_ae86_white {
  background-image: url(./img/Car/Car_Set1_AE86_White.png)
}

.car_set1_dc5_blue {
  background-image: url(./img/Car/Car_Set1_DC5_blue.png)
}

.car_set1_dc5_red {
  background-image: url(./img/Car/Car_Set1_DC5_red.png)
}

.car_set1_dc5_silver {
  background-image: url(./img/Car/Car_Set1_DC5_Silver.png)
}

.car_set1_dc5_white {
  background-image: url(./img/Car/Car_Set1_DC5_white.png)
}

.car_set1_e46m3_blue {
  background-image: url(./img/Car/Car_Set1_E46M3_Blue.png)
}

.car_set1_e46m3_silver {
  background-image: url(./img/Car/Car_Set1_E46M3_Silver.png)
}

.car_set1_e46m3_yellow {
  background-image: url(./img/Car/Car_Set1_E46M3_Yellow.png)
}

.car_set1_evo6 {
  background-image: url(./img/Car/Car_Set1_Evo6.5_black.png)
}

.car_set1_evo6 {
  background-image: url(./img/Car/Car_Set1_Evo6.5_blue.png)
}

.car_set1_evo6 {
  background-image: url(./img/Car/Car_Set1_Evo6.5_red.png)
}

.car_set1_evo6 {
  background-image: url(./img/Car/Car_Set1_Evo6.5_white.png)
}

.car_set1_evox_black {
  background-image: url(./img/Car/Car_Set1_EVOX_Black.png)
}

.car_set1_evox_blue {
  background-image: url(./img/Car/Car_Set1_EVOX_Blue.png)
}

.car_set1_evox_red {
  background-image: url(./img/Car/Car_Set1_EVOX_Red.png)
}

.car_set1_evox_silver {
  background-image: url(./img/Car/Car_Set1_EVOX_Silver.png)
}

.car_set1_evox_white {
  background-image: url(./img/Car/Car_Set1_EVOX_White.png)
}

.car_set1_fd3s_blue {
  background-image: url(./img/Car/Car_Set1_FD3S_Blue.png)
}

.car_set1_fd3s_silver {
  background-image: url(./img/Car/Car_Set1_FD3S_Silver.png)
}

.car_set1_fd3s_white {
  background-image: url(./img/Car/Car_Set1_FD3S_White.png)
}

.car_set1_fd3s_yellow {
  background-image: url(./img/Car/Car_Set1_FD3S_Yellow.png)
}

.car_set1_gryaris_black {
  background-image: url(./img/Car/Car_Set1_GRYaris_Black.png)
}

.car_set1_gryaris_red {
  background-image: url(./img/Car/Car_Set1_GRYaris_Red.png)
}

.car_set1_gryaris_white {
  background-image: url(./img/Car/Car_Set1_GRYaris_White.png)
}

.car_set1_mx5_blue {
  background-image: url(./img/Car/Car_Set1_MX5_Blue.png)
}

.car_set1_mx5_darkblue {
  background-image: url(./img/Car/Car_Set1_MX5_dark blue.png)
}

.car_set1_mx5_lagunablue {
  background-image: url(./img/Car/Car_Set1_MX5_LagunaBlue.png)
}

.car_set1_mx5_red {
  background-image: url(./img/Car/Car_Set1_MX5_Red.png)
}

.car_set1_mx5_silver {
  background-image: url(./img/Car/Car_Set1_MX5_Silver.png)
}

.car_set1_porsche996_black {
  background-image: url(./img/Car/Car_Set1_Porsche 996 _Black.png)
}

.car_set1_porsche996_green {
  background-image: url(./img/Car/Car_Set1_Porsche 996 _Green.png)
}

.car_set1_porsche996_red {
  background-image: url(./img/Car/Car_Set1_Porsche 996 _Red.png)
}

.car_set1_porsche996_silver {
  background-image: url(./img/Car/Car_Set1_Porsche 996 _Silver.png)
}

.car_set1_porsche996_yellow {
  background-image: url(./img/Car/Car_Set1_Porsche 996 _Yellow.png)
}

.car_set1_r32_blue {
  background-image: url(./img/Car/Car_Set1_R32_Blue.png)
}

.car_set1_r32_calsonic {
  background-image: url(./img/Car/Car_Set1_R32_Calsonic.png)
}

.car_set1_r32_red {
  background-image: url(./img/Car/Car_Set1_R32_Red.png)
}

.car_set1_r32_silver {
  background-image: url(./img/Car/Car_Set1_R32_Silver.png)
}

.car_set1_r32_white {
  background-image: url(./img/Car/Car_Set1_R32_White.png)
}

.car_set1_supraa80_black {
  background-image: url(./img/Car/Car_Set1_SupraA80_Black.png)
}

.car_set1_supraa80_red {
  background-image: url(./img/Car/Car_Set1_SupraA80_Red.png)
}

.car_set1_supraa80_silver {
  background-image: url(./img/Car/Car_Set1_SupraA80_Silver.png)
}

.car_set1_supraa80_white {
  background-image: url(./img/Car/Car_Set1_SupraA80_White.png)
}

.car_set1_supraa80_yellow {
  background-image: url(./img/Car/Car_Set1_SupraA80_Yellow.png)
}

.car_set1_sw20_black {
  background-image: url(./img/Car/Car_Set1_SW20_Black.png)
}

.car_set1_sw20_red {
  background-image: url(./img/Car/Car_Set1_SW20_Red.png)
}

.car_set1_sw20_white {
  background-image: url(./img/Car/Car_Set1_SW20_White.png)
}

.car_set1_sw20_yellow {
  background-image: url(./img/Car/Car_Set1_SW20_Yellow.png)
}

.car_set2_a45_red {
  background-image: url(./img/Car/Car_Set2_A45_Red.png)
}

.car_set2_a45_silver {
  background-image: url(./img/Car/Car_Set2_A45_Silver.png)
}

.car_set2_a45_white {
  background-image: url(./img/Car/Car_Set2_A45_White.png)
}

.car_set2_eg_blue {
  background-image: url(./img/Car/Car_Set2_EG_Blue.png)
}

.car_set2_eg_green {
  background-image: url(./img/Car/Car_Set2_EG_Green.png)
}

.car_set2_eg_red {
  background-image: url(./img/Car/Car_Set2_EG_Red.png)
}

.car_set2_eg_spoon {
  background-image: url(./img/Car/Car_Set2_EG_Spoon.png)
}

.car_set2_eg_white {
  background-image: url(./img/Car/Car_Set2_EG_White.png)
}

.car_set2_eg_yellow {
  background-image: url(./img/Car/Car_Set2_EG_Yellow.png)
}

.car_set2_jazzgk_blue {
  background-image: url(./img/Car/Car_Set2_JazzGK_Blue.png)
}

.car_set2_jazzgk_red {
  background-image: url(./img/Car/Car_Set2_JazzGK_Red.png)
}

.car_set2_jazzgk_silver {
  background-image: url(./img/Car/Car_Set2_JazzGK_Silver.png)
}

.car_set2_jazzgk_white {
  background-image: url(./img/Car/Car_Set2_JazzGK_White.png)
}

.car_set2_jazzgk_yellow {
  background-image: url(./img/Car/Car_Set2_JazzGK_Yellow.png)
}

.car_set2_r8_blue {
  background-image: url(./img/Car/Car_Set2_R8_Blue.png)
}

.car_set2_r8_red {
  background-image: url(./img/Car/Car_Set2_R8_Red.png)
}

.car_set2_r8_silver {
  background-image: url(./img/Car/Car_Set2_R8_Silver.png)
}

.car_set2_r8_white {
  background-image: url(./img/Car/Car_Set2_R8_White.png)
}

.car_set3_pp1_green {
  background-image: url(./img/Car/Car_Set3_PP1_Green.png)
}

.car_set3_pp1_red {
  background-image: url(./img/Car/Car_Set3_PP1_Red.png)
}

.car_set3_pp1_silver {
  background-image: url(./img/Car/Car_Set3_PP1_Silver.png)
}

.car_set3_pp1_yellow {
  background-image: url(./img/Car/Car_Set3_PP1_Yellow.png)
}

.floor_cement {
  background-image: url(./img/Floor/Floor_cement.png)
}

.floor_gride2tone {
  background-image: url(./img/Floor/Floor_gride2tone.png)
}

.floor_woodbrown {
  background-image: url(./img/Floor/Floor_woodbrown.png)
}

.hoist_black {
  background-image: url(./img/Hoist/Hoist_black.png)
}

.hoist_blue {
  background-image: url(./img/Hoist/Hoist_blue.png)
}

.hoist_none {
  background-image: url(./img/Hoist/Hoist_None.png)
}

.hoist_red {
  background-image: url(./img/Hoist/Hoist_red.png)
}

.poster_left_horizontal_1 {
  background-image: url(./img/LeftPoster/Poster_left_horizontal_1.png)
}

.poster_left_horizontal_10 {
  background-image: url(./img/LeftPoster/Poster_left_horizontal_10.png)
}

.poster_left_horizontal_11 {
  background-image: url(./img/LeftPoster/Poster_left_horizontal_11.png)
}

.poster_left_horizontal_12 {
  background-image: url(./img/LeftPoster/Poster_left_horizontal_12.png)
}

.poster_left_horizontal_13 {
  background-image: url(./img/LeftPoster/Poster_left_horizontal_13.png)
}

.poster_left_horizontal_14 {
  background-image: url(./img/LeftPoster/Poster_left_horizontal_14.png)
}

.poster_left_horizontal_2 {
  background-image: url(./img/LeftPoster/Poster_left_horizontal_2.png)
}

.poster_left_horizontal_3 {
  background-image: url(./img/LeftPoster/Poster_left_horizontal_3.png)
}

.poster_left_horizontal_4 {
  background-image: url(./img/LeftPoster/Poster_left_horizontal_4.png)
}

.poster_left_horizontal_5 {
  background-image: url(./img/LeftPoster/Poster_left_horizontal_5.png)
}

.poster_left_horizontal_6 {
  background-image: url(./img/LeftPoster/Poster_left_horizontal_6.png)
}

.poster_left_horizontal_7 {
  background-image: url(./img/LeftPoster/Poster_left_horizontal_7.png)
}

.poster_left_horizontal_8 {
  background-image: url(./img/LeftPoster/Poster_left_horizontal_8.png)
}

.poster_left_horizontal_9 {
  background-image: url(./img/LeftPoster/Poster_left_horizontal_9.png)
}

.poster_left_horizontal_streetdoc {
  background-image: url(./img/LeftPoster/Poster_left_horizontal_StreetDoc.png)
}

.poster_left_none {
  background-image: url(./img/LeftPoster/Poster_left_none.png)
}

.poster_left_vertical_1 {
  background-image: url(./img/LeftPoster/Poster_left_vertical_1.png)
}

.poster_left_vertical_2 {
  background-image: url(./img/LeftPoster/Poster_left_vertical_2.png)
}

.poster_left_vertical_3 {
  background-image: url(./img/LeftPoster/Poster_left_vertical_3.png)
}

.poster_left_vertical_4 {
  background-image: url(./img/LeftPoster/Poster_left_vertical_4.png)
}

.neon_180sx_blue {
  background-image: url(./img/Neon/Neon_180sx_blue.png)
}

.neon_180sx_green {
  background-image: url(./img/Neon/Neon_180sx_green.png)
}

.neon_180sx_red {
  background-image: url(./img/Neon/Neon_180sx_red.png)
}

.neon_a45_blue {
  background-image: url(./img/Neon/Neon_A45_blue.png)
}

.neon_a45_green {
  background-image: url(./img/Neon/Neon_A45_green.png)
}

.neon_a45_red {
  background-image: url(./img/Neon/Neon_A45_red.png)
}

.neon_ae86_blue {
  background-image: url(./img/Neon/Neon_AE86_blue.png)
}

.neon_ae86_green {
  background-image: url(./img/Neon/Neon_AE86_green.png)
}

.neon_ae86_red {
  background-image: url(./img/Neon/Neon_AE86_red.png)
}

.neon_any_any {
  background-image: url(./img/Neon/Neon_Any_Any.png)
}

.neon_dc5_blue {
  background-image: url(./img/Neon/Neon_DC5_blue.png)
}

.neon_dc5_green {
  background-image: url(./img/Neon/Neon_DC5_green.png)
}

.neon_dc5_red {
  background-image: url(./img/Neon/Neon_DC5_red.png)
}

.neon_e46m3_blue {
  background-image: url(./img/Neon/Neon_E46M3_blue.png)
}

.neon_e46m3_green {
  background-image: url(./img/Neon/Neon_E46M3_green.png)
}

.neon_e46m3_red {
  background-image: url(./img/Neon/Neon_E46M3_red.png)
}

.neon_eg_blue {
  background-image: url(./img/Neon/Neon_EG_blue.png)
}

.neon_eg_green {
  background-image: url(./img/Neon/Neon_EG_green.png)
}

.neon_eg_red {
  background-image: url(./img/Neon/Neon_EG_red.png)
}

.neon_evo6 {
  background-image: url(./img/Neon/Neon_Evo6.5_blue.png)
}

.neon_evo6 {
  background-image: url(./img/Neon/Neon_Evo6.5_green.png)
}

.neon_evo6 {
  background-image: url(./img/Neon/Neon_Evo6.5_red.png)
}

.neon_evox_blue {
  background-image: url(./img/Neon/Neon_EVOX_blue.png)
}

.neon_evox_green {
  background-image: url(./img/Neon/Neon_EVOX_green.png)
}

.neon_evox_red {
  background-image: url(./img/Neon/Neon_EVOX_red.png)
}

.neon_fd3s_blue {
  background-image: url(./img/Neon/Neon_FD3S_blue.png)
}

.neon_fd3s_green {
  background-image: url(./img/Neon/Neon_FD3S_green.png)
}

.neon_fd3s_red {
  background-image: url(./img/Neon/Neon_FD3S_red.png)
}

.neon_gryaris_blue {
  background-image: url(./img/Neon/Neon_GRYaris_blue.png)
}

.neon_gryaris_green {
  background-image: url(./img/Neon/Neon_GRYaris_green.png)
}

.neon_gryaris_red {
  background-image: url(./img/Neon/Neon_GRYaris_red.png)
}

.neon_jazzgk_blue {
  background-image: url(./img/Neon/Neon_JazzGK_blue.png)
}

.neon_jazzgk_green {
  background-image: url(./img/Neon/Neon_JazzGK_green.png)
}

.neon_jazzgk_red {
  background-image: url(./img/Neon/Neon_JazzGK_red.png)
}

.neon_porsche996_blue {
  background-image: url(./img/Neon/Neon_Porsche 996_blue.png)
}

.neon_porsche996_green {
  background-image: url(./img/Neon/Neon_Porsche 996_green.png)
}

.neon_porsche996_red {
  background-image: url(./img/Neon/Neon_Porsche 996_red.png)
}

.neon_pp1_blue {
  background-image: url(./img/Neon/Neon_PP1_blue.png)
}

.neon_pp1_green {
  background-image: url(./img/Neon/Neon_PP1_green.png)
}

.neon_pp1_red {
  background-image: url(./img/Neon/Neon_PP1_red.png)
}

.neon_r32_blue {
  background-image: url(./img/Neon/Neon_R32_blue.png)
}

.neon_r32_green {
  background-image: url(./img/Neon/Neon_R32_green.png)
}

.neon_r32_red {
  background-image: url(./img/Neon/Neon_R32_red.png)
}

.neon_r8_blue {
  background-image: url(./img/Neon/Neon_R8_blue.png)
}

.neon_r8_green {
  background-image: url(./img/Neon/Neon_R8_green.png)
}

.neon_r8_red {
  background-image: url(./img/Neon/Neon_R8_red.png)
}

.neon_supraa80_blue {
  background-image: url(./img/Neon/Neon_SupraA80_blue.png)
}

.neon_supraa80_green {
  background-image: url(./img/Neon/Neon_SupraA80_green.png)
}

.neon_supraa80_red {
  background-image: url(./img/Neon/Neon_SupraA80_red.png)
}

.neon_sw20_blue {
  background-image: url(./img/Neon/Neon_SW20_blue.png)
}

.neon_sw20_green {
  background-image: url(./img/Neon/Neon_SW20_green.png)
}

.neon_sw20_red {
  background-image: url(./img/Neon/Neon_SW20_red.png)
}

.rightquote_1 {
  background-image: url(./img/RightQuote/RightQuote_1.png)
}

.rightquote_10 {
  background-image: url(./img/RightQuote/RightQuote_10.png)
}

.rightquote_2 {
  background-image: url(./img/RightQuote/RightQuote_2.png)
}

.rightquote_3 {
  background-image: url(./img/RightQuote/RightQuote_3.png)
}

.rightquote_4 {
  background-image: url(./img/RightQuote/RightQuote_4.png)
}

.rightquote_5 {
  background-image: url(./img/RightQuote/RightQuote_5.png)
}

.rightquote_6 {
  background-image: url(./img/RightQuote/RightQuote_6.png)
}

.rightquote_7 {
  background-image: url(./img/RightQuote/RightQuote_7.png)
}

.rightquote_8 {
  background-image: url(./img/RightQuote/RightQuote_8.png)
}

.rightquote_9 {
  background-image: url(./img/RightQuote/RightQuote_9.png)
}

.rightquote_none {
  background-image: url(./img/RightQuote/RightQuote_none.png)
}

.smallfurniture_1_modelcar1 {
  background-image: url(./img/SmallFurniture_1/SmallFurniture_1_modelCar1.png)
}

.smallfurniture_1_te37ontire2 {
  background-image: url(./img/SmallFurniture_1/SmallFurniture_1_TE37OnTire2.png)
}

.smallfurniture_1_toolcabinet {
  background-image: url(./img/SmallFurniture_1/SmallFurniture_1_toolCabinet.png)
}

.smallfur2_seats_recaropoleposition_black {
  background-image: url(./img/SmallFurniture_2/SmallFur2_Seats_RecaroPolePosition_Black.png)
}

.smallfur2_seats_recaropoleposition_red {
  background-image: url(./img/SmallFurniture_2/SmallFur2_Seats_RecaroPolePosition_Red.png)
}

.smallfur2_seats_recaropoleposition_twotone {
  background-image: url(./img/SmallFurniture_2/SmallFur2_Seats_RecaroPolePosition_TwoTone.png)
}

.smallfur2_seats_recarosp3_red {
  background-image: url(./img/SmallFurniture_2/SmallFur2_Seats_RecaroSP3_Red.png)
}

.smallfur2_seats_recarosp3_twotone {
  background-image: url(./img/SmallFurniture_2/SmallFur2_Seats_RecaroSP3_TwoTone.png)
}

.smallfur2_seats_recarosp3_yellow {
  background-image: url(./img/SmallFurniture_2/SmallFur2_Seats_RecaroSP3_Yellow.png)
}

.smallfurniture_2_seats {
  background-image: url(./img/SmallFurniture_2/SmallFurniture_2_Seats.png)
}

.smallfurniture_2_seats_black {
  background-image: url(./img/SmallFurniture_2/SmallFurniture_2_Seats_black.png)
}

.smallfurniture_3_floor_jack1 {
  background-image: url(./img/SmallFurniture_3/SmallFurniture_3_Floor_jack1.png)
}

.smallfurniture_3_jack2 {
  background-image: url(./img/SmallFurniture_3/SmallFurniture_3_jack2.png)
}

.smallfurniture_3_plasticchair2 {
  background-image: url(./img/SmallFurniture_3/SmallFurniture_3_PlasticChair2.png)
}

.spoiler_180sx_any_gtwing {
  background-image: url(./img/Spoiler/Spoiler_180sx_Any_GTWing.png)
}

.spoiler_180sx_red_stock {
  background-image: url(./img/Spoiler/Spoiler_180sx_Red_Stock.png)
}

.spoiler_180sx_silver_stock {
  background-image: url(./img/Spoiler/Spoiler_180sx_Silver_Stock.png)
}

.spoiler_180sx_white_stock {
  background-image: url(./img/Spoiler/Spoiler_180sx_White_Stock.png)
}

.spoiler_180sx_yellow_stock {
  background-image: url(./img/Spoiler/Spoiler_180sx_Yellow_Stock.png)
}

.spoiler_a45_any_stock {
  background-image: url(./img/Spoiler/Spoiler_A45_Any_Stock.png)
}

.spoiler_ae86_any_gtwing {
  background-image: url(./img/Spoiler/Spoiler_AE86_Any_GTWing.png)
}

.spoiler_any_any_blank {
  background-image: url(./img/Spoiler/Spoiler_Any_Any_Blank.png)
}

.spoiler_dc5_any_gtwingmugen {
  background-image: url(./img/Spoiler/Spoiler_DC5_Any_GTWingMugen.png)
}

.spoiler_dc5_blue_gtwingmugen {
  background-image: url(./img/Spoiler/Spoiler_DC5_Blue_GTWingMugen.png)
}

.spoiler_dc5_blue_stock {
  background-image: url(./img/Spoiler/Spoiler_DC5_Blue_Stock.png)
}

.spoiler_dc5_cabon_gtwingmugen {
  background-image: url(./img/Spoiler/Spoiler_DC5_Cabon_GTWingMugen.png)
}

.spoiler_dc5_red_gtwingmugen {
  background-image: url(./img/Spoiler/Spoiler_DC5_Red_GTWingMugen.png)
}

.spoiler_dc5_red_stock {
  background-image: url(./img/Spoiler/Spoiler_DC5_Red_Stock.png)
}

.spoiler_dc5_silver_stock {
  background-image: url(./img/Spoiler/Spoiler_DC5_Silver_Stock.png)
}

.spoiler_dc5_siver_gtwingmugen {
  background-image: url(./img/Spoiler/Spoiler_DC5_Siver_GTWingMugen.png)
}

.spoiler_dc5_white_gtwingmugen {
  background-image: url(./img/Spoiler/Spoiler_DC5_White_GTWingMugen.png)
}

.spoiler_dc5_white_stock {
  background-image: url(./img/Spoiler/Spoiler_DC5_White_Stock.png)
}

.spoiler_e46m3_any_gtwing {
  background-image: url(./img/Spoiler/Spoiler_E46M3_Any_GTWing.png)
}

.spoiler_eg_any_js {
  background-image: url(./img/Spoiler/Spoiler_EG_Any_JS.png)
}

.spoiler_evo6 {
  background-image: url(./img/Spoiler/Spoiler_Evo6.5_Any_GTWing.png)
}

.spoiler_evo6 {
  background-image: url(./img/Spoiler/Spoiler_Evo6.5_black_Stock.png)
}

.spoiler_evo6 {
  background-image: url(./img/Spoiler/Spoiler_Evo6.5_blue_Stock.png)
}

.spoiler_evo6 {
  background-image: url(./img/Spoiler/Spoiler_Evo6.5_red_Stock.png)
}

.spoiler_evo6 {
  background-image: url(./img/Spoiler/Spoiler_Evo6.5_white_Stock.png)
}

.spoiler_evox_any_gtwing {
  background-image: url(./img/Spoiler/Spoiler_EVOX_Any_GTWing.png)
}

.spoiler_evox_black_stock {
  background-image: url(./img/Spoiler/Spoiler_EVOX_Black_Stock.png)
}

.spoiler_evox_blue_stock {
  background-image: url(./img/Spoiler/Spoiler_EVOX_Blue_Stock.png)
}

.spoiler_evox_red_stock {
  background-image: url(./img/Spoiler/Spoiler_EVOX_Red_Stock.png)
}

.spoiler_evox_silver_stock {
  background-image: url(./img/Spoiler/Spoiler_EVOX_Silver_Stock.png)
}

.spoiler_evox_white_stock {
  background-image: url(./img/Spoiler/Spoiler_EVOX_White_Stock.png)
}

.spoiler_fd3s_any_gtwing {
  background-image: url(./img/Spoiler/Spoiler_FD3S_Any_GTWing.png)
}

.spoiler_fd3s_blue_stock {
  background-image: url(./img/Spoiler/Spoiler_FD3S_Blue_Stock.png)
}

.spoiler_fd3s_silver_stock {
  background-image: url(./img/Spoiler/Spoiler_FD3S_Silver_Stock.png)
}

.spoiler_fd3s_white_stock {
  background-image: url(./img/Spoiler/Spoiler_FD3S_White_Stock.png)
}

.spoiler_fd3s_yellow_stock {
  background-image: url(./img/Spoiler/Spoiler_FD3S_Yellow_Stock.png)
}

.spoiler_gryaris_any_stock {
  background-image: url(./img/Spoiler/Spoiler_GRYaris_Any_Stock.png)
}

.spoiler_jazzgk_any_stock {
  background-image: url(./img/Spoiler/Spoiler_JazzGK_Any_Stock.png)
}

.spoiler_jazzgk_blue_stock {
  background-image: url(./img/Spoiler/Spoiler_JazzGK_Blue_Stock.png)
}

.spoiler_jazzgk_red_stock {
  background-image: url(./img/Spoiler/Spoiler_JazzGK_Red_Stock.png)
}

.spoiler_jazzgk_silver_stock {
  background-image: url(./img/Spoiler/Spoiler_JazzGK_Silver_Stock.png)
}

.spoiler_jazzgk_white_stock {
  background-image: url(./img/Spoiler/Spoiler_JazzGK_White_Stock.png)
}

.spoiler_jazzgk_yellow_stock {
  background-image: url(./img/Spoiler/Spoiler_JazzGK_Yellow_Stock.png)
}

.spoiler_mx5_any_gtwing {
  background-image: url(./img/Spoiler/Spoiler_MX5_Any_GTWing.png)
}

.spoiler_porsche996_black_aem {
  background-image: url(./img/Spoiler/Spoiler_Porsche 996_Black_AEM.png)
}

.spoiler_porsche996_black_stock {
  background-image: url(./img/Spoiler/Spoiler_Porsche 996_Black_Stock.png)
}

.spoiler_porsche996_green_aem {
  background-image: url(./img/Spoiler/Spoiler_Porsche 996_Green_AEM.png)
}

.spoiler_porsche996_green_stock {
  background-image: url(./img/Spoiler/Spoiler_Porsche 996_Green_Stock.png)
}

.spoiler_porsche996_red_aem {
  background-image: url(./img/Spoiler/Spoiler_Porsche 996_Red_AEM.png)
}

.spoiler_porsche996_red_stock {
  background-image: url(./img/Spoiler/Spoiler_Porsche 996_Red_Stock.png)
}

.spoiler_porsche996_silver_aem {
  background-image: url(./img/Spoiler/Spoiler_Porsche 996_Silver_AEM.png)
}

.spoiler_porsche996_silver_stock {
  background-image: url(./img/Spoiler/Spoiler_Porsche 996_Silver_Stock.png)
}

.spoiler_porsche996_yellow_aem {
  background-image: url(./img/Spoiler/Spoiler_Porsche 996_Yellow_AEM.png)
}

.spoiler_porsche996_yellow_stock {
  background-image: url(./img/Spoiler/Spoiler_Porsche 996_Yellow_Stock.png)
}

.spoiler_pp1_any_gtwing {
  background-image: url(./img/Spoiler/Spoiler_PP1_Any_GTWing.png)
}

.spoiler_r32_any_gtwing {
  background-image: url(./img/Spoiler/Spoiler_R32_Any_GTWing.png)
}

.spoiler_r32_blue_stock {
  background-image: url(./img/Spoiler/Spoiler_R32_Blue_Stock.png)
}

.spoiler_r32_calsonic_stock {
  background-image: url(./img/Spoiler/Spoiler_R32_Calsonic_Stock.png)
}

.spoiler_r32_red_stock {
  background-image: url(./img/Spoiler/Spoiler_R32_Red_Stock.png)
}

.spoiler_r32_silver_stock {
  background-image: url(./img/Spoiler/Spoiler_R32_Silver_Stock.png)
}

.spoiler_r32_white_stock {
  background-image: url(./img/Spoiler/Spoiler_R32_White_Stock.png)
}

.spoiler_r8_any_aem {
  background-image: url(./img/Spoiler/Spoiler_R8_Any_AEM.png)
}

.spoiler_r8_any_oem {
  background-image: url(./img/Spoiler/Spoiler_R8_Any_OEM.png)
}

.spoiler_supraa80_any_gtwing {
  background-image: url(./img/Spoiler/Spoiler_SupraA80_Any_GTWing.png)
}

.spoiler_supraa80_black_stock {
  background-image: url(./img/Spoiler/Spoiler_SupraA80_Black_Stock.png)
}

.spoiler_supraa80_black_trd {
  background-image: url(./img/Spoiler/Spoiler_SupraA80_Black_TRD.png)
}

.spoiler_supraa80_red_stock {
  background-image: url(./img/Spoiler/Spoiler_SupraA80_Red_Stock.png)
}

.spoiler_supraa80_red_trd {
  background-image: url(./img/Spoiler/Spoiler_SupraA80_Red_TRD.png)
}

.spoiler_supraa80_silver_stock {
  background-image: url(./img/Spoiler/Spoiler_SupraA80_Silver_Stock.png)
}

.spoiler_supraa80_silver_trd {
  background-image: url(./img/Spoiler/Spoiler_SupraA80_Silver_TRD.png)
}

.spoiler_supraa80_white_stock {
  background-image: url(./img/Spoiler/Spoiler_SupraA80_White_Stock.png)
}

.spoiler_supraa80_white_trd {
  background-image: url(./img/Spoiler/Spoiler_SupraA80_White_TRD.png)
}

.spoiler_supraa80_yellow_stock {
  background-image: url(./img/Spoiler/Spoiler_SupraA80_Yellow_Stock.png)
}

.spoiler_supraa80_yellow_trd {
  background-image: url(./img/Spoiler/Spoiler_SupraA80_Yellow_TRD.png)
}

.spoiler_sw20_any_gtwing {
  background-image: url(./img/Spoiler/Spoiler_SW20_Any_GTWing.png)
}

.spoiler_sw20_black_stock {
  background-image: url(./img/Spoiler/Spoiler_SW20_Black_Stock.png)
}

.spoiler_sw20_red_stock {
  background-image: url(./img/Spoiler/Spoiler_SW20_Red_Stock.png)
}

.spoiler_sw20_trd_black {
  background-image: url(./img/Spoiler/Spoiler_SW20_TRD_Black.png)
}

.spoiler_sw20_trd_red {
  background-image: url(./img/Spoiler/Spoiler_SW20_TRD_Red.png)
}

.spoiler_sw20_trd_white {
  background-image: url(./img/Spoiler/Spoiler_SW20_TRD_White.png)
}

.spoiler_sw20_trd_yellow {
  background-image: url(./img/Spoiler/Spoiler_SW20_TRD_Yellow.png)
}

.spoiler_sw20_white_stock {
  background-image: url(./img/Spoiler/Spoiler_SW20_White_Stock.png)
}

.spoiler_sw20_yellow_stock {
  background-image: url(./img/Spoiler/Spoiler_SW20_Yellow_Stock.png)
}

.wall_brickbrown {
  background-image: url(./img/Wall/Wall_brickbrown.png)
}

.wall_brickcement {
  background-image: url(./img/Wall/Wall_brickcement.png)
}

.wall_brickcement2tone {
  background-image: url(./img/Wall/Wall_brickcement2tone.png)
}

.wall_cement {
  background-image: url(./img/Wall/Wall_cement.png)
}

.wall_containerblack {
  background-image: url(./img/Wall/Wall_containerblack.png)
}

.wall_containerblue {
  background-image: url(./img/Wall/Wall_containerblue.png)
}

.wall_containerred {
  background-image: url(./img/Wall/Wall_containerred.png)
}

.wall_horizontal {
  background-image: url(./img/Wall/Wall_horizontal.png)
}

.wall_wood {
  background-image: url(./img/Wall/Wall_wood.png)
}

.wall_woodhorizontal {
  background-image: url(./img/Wall/Wall_woodhorizontal.png)
}

.wheel_set1_180sx_stock {
  background-image: url(./img/Wheels/Wheel_Set1_180sx_Stock.png)
}

.wheel_set1_1967mustang_bbslm {
  background-image: url(./img/Wheels/Wheel_Set1_1967Mustang_BBSLM.png)
}

.wheel_set1_1967mustang_bbsrs {
  background-image: url(./img/Wheels/Wheel_Set1_1967Mustang_BBSRS.png)
}

.wheel_set1_1967mustang_gt500 {
  background-image: url(./img/Wheels/Wheel_Set1_1967Mustang_GT500.png)
}

.wheel_set1_1967mustang_stock {
  background-image: url(./img/Wheels/Wheel_Set1_1967Mustang_Stock.png)
}

.wheel_set1_2000gt_stock {
  background-image: url(./img/Wheels/Wheel_Set1_2000GT_Stock.png)
}

.wheel_set1_ae86_stock {
  background-image: url(./img/Wheels/Wheel_Set1_AE86_Stock.png)
}

.wheel_set1_any_bbslm {
  background-image: url(./img/Wheels/Wheel_Set1_Any_BBSLM.png)
}

.wheel_set1_any_bbsrs {
  background-image: url(./img/Wheels/Wheel_Set1_Any_BBSRS.png)
}

.wheel_set1_any_ce28 {
  background-image: url(./img/Wheels/Wheel_Set1_Any_CE28.png)
}

.wheel_set1_any_desmondevo {
  background-image: url(./img/Wheels/Wheel_Set1_Any_DesmondEvo.png)
}

.wheel_set1_any_enkeitarmac {
  background-image: url(./img/Wheels/Wheel_Set1_Any_EnkeiTarmac.png)
}

.wheel_set1_any_ozracingrally {
  background-image: url(./img/Wheels/Wheel_Set1_Any_OZRacingRally.png)
}

.wheel_set1_any_re30 {
  background-image: url(./img/Wheels/Wheel_Set1_Any_RE30.png)
}

.wheel_set1_any_spoon {
  background-image: url(./img/Wheels/Wheel_Set1_Any_Spoon.png)
}

.wheel_set1_any_te37 {
  background-image: url(./img/Wheels/Wheel_Set1_Any_TE37.png)
}

.wheel_set1_any_watanabe {
  background-image: url(./img/Wheels/Wheel_Set1_Any_Watanabe.png)
}

.wheel_set1_any_watanabe5spot {
  background-image: url(./img/Wheels/Wheel_Set1_Any_Watanabe5Spot.png)
}

.wheel_set1_dc5_stock {
  background-image: url(./img/Wheels/Wheel_Set1_DC5_Stock.png)
}

.wheel_set1_e46m3_stock {
  background-image: url(./img/Wheels/Wheel_Set1_E46M3_Stock.png)
}

.wheel_set1_evo6 {
  background-image: url(./img/Wheels/Wheel_Set1_Evo6.5_Stock.png)
}

.wheel_set1_evox_stock {
  background-image: url(./img/Wheels/Wheel_Set1_EVOX_Stock.png)
}

.wheel_set1_fd3s_stock {
  background-image: url(./img/Wheels/Wheel_Set1_FD3S_Stock.png)
}

.wheel_set1_gryaris_stock {
  background-image: url(./img/Wheels/Wheel_Set1_GRYaris_Stock.png)
}

.wheel_set1_mx5_stock {
  background-image: url(./img/Wheels/Wheel_Set1_MX5_Stock.png)
}

.wheel_set1_porsche996_bbmlm {
  background-image: url(./img/Wheels/Wheel_Set1_Porsche 996_BBMLM.png)
}

.wheel_set1_porsche996_bcfhca1620gold {
  background-image: url(./img/Wheels/Wheel_Set1_Porsche 996_BCFHCA1620Gold.png)
}

.wheel_set1_porsche996_bcfhca1620silver {
  background-image: url(./img/Wheels/Wheel_Set1_Porsche 996_BCFHCA1620Silver.png)
}

.wheel_set1_porsche996_bcfheh177black {
  background-image: url(./img/Wheels/Wheel_Set1_Porsche 996_BCFHEH177Black.png)
}

.wheel_set1_porsche996_bcfheh177silver {
  background-image: url(./img/Wheels/Wheel_Set1_Porsche 996_BCFHEH177Silver.png)
}

.wheel_set1_porsche996_stock {
  background-image: url(./img/Wheels/Wheel_Set1_Porsche 996_Stock.png)
}

.wheel_set1_r32_calsonic {
  background-image: url(./img/Wheels/Wheel_Set1_R32_Calsonic.png)
}

.wheel_set1_r32_stock {
  background-image: url(./img/Wheels/Wheel_Set1_R32_Stock.png)
}

.wheel_set1_supraa80_stock {
  background-image: url(./img/Wheels/Wheel_Set1_SupraA80_Stock.png)
}

.wheel_set1_sw20_stock {
  background-image: url(./img/Wheels/Wheel_Set1_SW20_Stock.png)
}

.wheel_set2_a45_stock {
  background-image: url(./img/Wheels/Wheel_Set2_A45_Stock.png)
}

.wheel_set2_any_bbslm {
  background-image: url(./img/Wheels/Wheel_Set2_Any_BBSLM.png)
}

.wheel_set2_any_bbsrs {
  background-image: url(./img/Wheels/Wheel_Set2_Any_BBSRS.png)
}

.wheel_set2_any_ce28 {
  background-image: url(./img/Wheels/Wheel_Set2_Any_CE28.png)
}

.wheel_set2_any_desmondevo {
  background-image: url(./img/Wheels/Wheel_Set2_Any_DesmondEvo.png)
}

.wheel_set2_any_enkeitarmac {
  background-image: url(./img/Wheels/Wheel_Set2_Any_EnkeiTarmac.png)
}

.wheel_set2_any_ozracingrally {
  background-image: url(./img/Wheels/Wheel_Set2_Any_OZRacingRally.png)
}

.wheel_set2_any_re30 {
  background-image: url(./img/Wheels/Wheel_Set2_Any_RE30.png)
}

.wheel_set2_any_spoon {
  background-image: url(./img/Wheels/Wheel_Set2_Any_Spoon.png)
}

.wheel_set2_any_te37 {
  background-image: url(./img/Wheels/Wheel_Set2_Any_TE37.png)
}

.wheel_set2_any_watanabe_5_spot {
  background-image: url(./img/Wheels/Wheel_Set2_Any_Watanabe_5_Spot.png)
}

.wheel_set2_eg_stock {
  background-image: url(./img/Wheels/Wheel_Set2_EG_Stock.png)
}

.wheel_set2_jazzgk_stock {
  background-image: url(./img/Wheels/Wheel_Set2_JazzGK_Stock.png)
}

.wheel_set2_r8_bbslm {
  background-image: url(./img/Wheels/Wheel_Set2_R8_BBSLM.png)
}

.wheel_set2_r8_bcfhca1620gold {
  background-image: url(./img/Wheels/Wheel_Set2_R8_BCFHCA1620Gold.png)
}

.wheel_set2_r8_bcfhca1620silver {
  background-image: url(./img/Wheels/Wheel_Set2_R8_BCFHCA1620Silver.png)
}

.wheel_set2_r8_bcfheh177black {
  background-image: url(./img/Wheels/Wheel_Set2_R8_BCFHEH177Black.png)
}

.wheel_set2_r8_bcfheh177silver {
  background-image: url(./img/Wheels/Wheel_Set2_R8_BCFHEH177Silver.png)
}

.wheel_set2_r8_desmondevo {
  background-image: url(./img/Wheels/Wheel_Set2_R8_DesmondEvo.png)
}

.wheel_set2_r8_stock {
  background-image: url(./img/Wheels/Wheel_Set2_R8_Stock.png)
}

.wheel_set3_any_bbslm {
  background-image: url(./img/Wheels/Wheel_Set3_Any_BBSLM.png)
}

.wheel_set3_any_bbsrs {
  background-image: url(./img/Wheels/Wheel_Set3_Any_BBSRS.png)
}

.wheel_set3_any_ce28 {
  background-image: url(./img/Wheels/Wheel_Set3_Any_CE28.png)
}

.wheel_set3_any_desmondevo {
  background-image: url(./img/Wheels/Wheel_Set3_Any_DesmondEvo.png)
}

.wheel_set3_any_enkeitarmac {
  background-image: url(./img/Wheels/Wheel_Set3_Any_EnkeiTarmac.png)
}

.wheel_set3_any_ozracingrally {
  background-image: url(./img/Wheels/Wheel_Set3_Any_OZRacingRally.png)
}

.wheel_set3_any_re30 {
  background-image: url(./img/Wheels/Wheel_Set3_Any_RE30.png)
}

.wheel_set3_any_spoon {
  background-image: url(./img/Wheels/Wheel_Set3_Any_Spoon.png)
}

.wheel_set3_any_te37 {
  background-image: url(./img/Wheels/Wheel_Set3_Any_TE37.png)
}

.wheel_set3_any_watanabe {
  background-image: url(./img/Wheels/Wheel_Set3_Any_Watanabe.png)
}

.wheel_set3_pp1_stock {
  background-image: url(./img/Wheels/Wheel_Set3_PP1_Stock.png)
}

#nextWall {
  position: absolute;
  left: 2320px;
  top: 500px;
  color: white;
  border-radius: 5px;
  padding: 0 10px;
  background-color: #D09315;
  font-weight: 500;

}

#nextFloor {
  position: absolute;
  left: 2320px;
  top: 550px;
  color: white;
  border-radius: 5px;
  padding: 0 10px;
  background-color: #D09315;
  font-weight: 500;
}

#nextHoist {
  position: absolute;
  left: 2320px;
  top: 600px;
  color: white;
  border-radius: 5px;
  padding: 0 10px;
  background-color: #D09315;
  font-weight: 500;
}

#nextBackground {
  position: absolute;
  left: 2320px;
  top: 650px;
  color: white;
  border-radius: 5px;
  padding: 0 10px;
  background-color: #D09315;
  font-weight: 500;
}

#nextLeftPoster {
  position: absolute;
  left: 2320px;
  top: 700px;
  color: white;
  border-radius: 5px;
  padding: 0 10px;
  background-color: #D09315;
  font-weight: 500;
}

#nextRightQuote {
  position: absolute;
  left: 2320px;
  top: 750px;
  color: white;
  border-radius: 5px;
  padding: 0 10px;
  background-color: #D09315;
  font-weight: 500;
}

#nextBigFurniture {
  position: absolute;
  left: 2320px;
  top: 800px;
  color: white;
  border-radius: 5px;
  padding: 0 10px;
  background-color: #D09315;
  font-weight: 500;
}

#nextSmallFurniture_1 {
  position: absolute;
  left: 2320px;
  top: 850px;
  color: white;
  border-radius: 5px;
  padding: 0 10px;
  background-color: #D09315;
  font-weight: 500;
}

#nextSmallFurniture_2 {
  position: absolute;
  left: 2320px;
  top: 900px;
  color: white;
  border-radius: 5px;
  padding: 0 10px;
  background-color: #D09315;
  font-weight: 500;
}

#nextSmallFurniture_3 {
  position: absolute;
  left: 2320px;
  top: 950px;
  color: white;
  border-radius: 5px;
  padding: 0 10px;
  background-color: #D09315;
  font-weight: 500;
}

#nextCar {
  position: absolute;
  left: 2320px;
  top: 1000px;
  color: white;
  border-radius: 5px;
  padding: 0 10px;
  background-color: #D09315;
  font-weight: 500;
}


#mintnew {
  position: absolute;
  left: 2320px;
  top: 1050px;
  color: white;
  border-radius: 5px;
  padding: 0 10px;
  background-color: grey;
  font-weight: 500;
}

@media screen and (max-width: 2500px) {
  #Wall, #Floor, #Hoist, #Background, #Car, #BigFurniture, #Neon, #Wheels, #Spoiler, #LeftPoster, #RightQuote, #SmallFurniture_1, #SmallFurniture_2, #SmallFurniture_3 {
    position: absolute;
    width: 1920px;
    height: 1080px;
    left: 0vw;
    top: 5vh;
    border: 10px solid #D09315;
    /* width of actual image */
    /* height of actual image */
  }

  #nextWall {
    position: absolute;
    left: 20px;
    top: 450px;
    color: white;
    border-radius: 5px;
    padding: 0 10px;
    background-color: #D09315;
    font-weight: 500;

  }

  #nextFloor {
    position: absolute;
    left: 130px;
    top: 450px;
    color: white;
    border-radius: 5px;
    padding: 0 10px;
    background-color: #D09315;
    font-weight: 500;
  }

  #nextHoist {
    position: absolute;
    left: 248px;
    top: 450px;
    color: white;
    border-radius: 5px;
    padding: 0 10px;
    background-color: #D09315;
    font-weight: 500;
  }

  #nextBackground {
    position: absolute;
    left: 368px;
    top: 450px;
    color: white;
    border-radius: 5px;
    padding: 0 10px;
    background-color: #D09315;
    font-weight: 500;
  }

  #nextLeftPoster {
    position: absolute;
    left: 545px;
    top: 450px;
    color: white;
    border-radius: 5px;
    padding: 0 10px;
    background-color: #D09315;
    font-weight: 500;
  }

  #nextRightQuote {
    position: absolute;
    left: 708px;
    top: 450px;
    color: white;
    border-radius: 5px;
    padding: 0 10px;
    background-color: #D09315;
    font-weight: 500;
  }

  #nextBigFurniture {
    position: absolute;
    left: 880px;
    top: 450px;
    color: white;
    border-radius: 5px;
    padding: 0 10px;
    background-color: #D09315;
    font-weight: 500;
  }

  #nextSmallFurniture_1 {
    position: absolute;
    left: 1060px;
    top: 450px;
    color: white;
    border-radius: 5px;
    padding: 0 10px;
    background-color: #D09315;
    font-weight: 500;
  }

  #nextSmallFurniture_2 {
    position: absolute;
    left: 1275px;
    top: 450px;
    color: white;
    border-radius: 5px;
    padding: 0 10px;
    background-color: #D09315;
    font-weight: 500;
  }

  #nextSmallFurniture_3 {
    position: absolute;
    left: 1490px;
    top: 450px;
    color: white;
    border-radius: 5px;
    padding: 0 10px;
    background-color: #D09315;
    font-weight: 500;
  }

  #nextCar {
    position: absolute;
    left: 1710px;
    top: 450px;
    color: white;
    border-radius: 5px;
    padding: 0 10px;
    background-color: #D09315;
    font-weight: 500;
  }

  #mintnew {
    position: absolute;
    left: 1590px;
    top: 350px;
    color: white;
    border-radius: 5px;
    padding: 0 10px;
    background-color: grey;
    font-weight: 500;
  }

}